<div class="bg-light p-4 card mt-2">
    <h3 class="card-title">Hello</h3>
<div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ratione quaerat soluta ex dolorem. Molestias, cum eligendi iste at atque autem labore repellat doloribus expedita tenetur accusantium cumque dolores magni!
</div>
</div>

<!-- {{pages.length}} -->
<!--
  {{pages.length}} starts at 0, when the input search is empty
  once we enter any search keyword we will see 10 searches legnth
   with a number 10 length tells us that we successfully completed our request
   to the APi and now we have the data that we were looking for inside of our page list component
-->
